<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Task Manager</title>
	<style>
	.completed {
		color : red;
		text-decoration: line-through;
		font-style: italic;
	}
	</style>
	<script src="/javascripts/angular.js"></script>
	<script>
	var filterModule = angular.module("filterModules",[]);
	filterModule.filter("limitLength",function(){
			return function(taskName,length){
				length = length || 10;
				return taskName.length > length ? taskName.substr(0,length) + "..." : taskName;
			}
		});


	angular
		.module("taskApp",['filterModules'])
		.factory('Task',function(){
			function Task(name){
					this.name = name;
					this.isCompleted = false;
				}
				Task.prototype.toggleCompletion = function(){
					this.isCompleted = !this.isCompleted;
				};
			return Task;
		})
		.factory('TaskService',function($http){
			return {
				getAllTasks : function(){
					return $http({method : 'get', url : '/tasks'});
				}
			}
		})
		.controller("TaskController", ['$scope','TaskService', 'Task',function($scope, taskService, Task){
			var p = taskService.getAllTasks();
			p.success(function(data){
				$scope.tasks.list = data;
			});
			$scope.tasks = {
				list : [],
				addTask : function(taskName){
					var newTask = new Task(taskName)
					this.list.push(newTask);
				},
				toggleCompletion : function(task){
					task.toggleCompletion();
				},
				removeCompleted : function(){
					for(var i = this.list.length-1;i>=0;i--){
						if (this.list[i].isCompleted)
							this.list.splice(i,1);
					}
				},
				getCompletedCount : function(){
					return this.list.filter(function(t){
						return t.isCompleted;
					}).length;
				}
			}
		}]);
	
	
	</script>
</head>
<body data-ng-app="taskApp" data-ng-controller="TaskController">
	<h1>Task Manager</h1>
	Search : <input type="text" data-ng-model="searchTerm.name">
	<br>
	limit length : <input type="text" data-ng-model="taskNameLength">
	<hr>
	<span>Task :</span>
	<input type="text" data-ng-model="newTask">
	<input type="button" value="Add Task" data-ng-click="tasks.addTask(newTask)">
	<input type="button" value="Remove Completed" data-ng-click="tasks.removeCompleted()">
	<ul>
		<li 
			data-ng-repeat="task in tasks.list | filter:searchTerm" 
			data-ng-click="task.toggleCompletion()"
			data-ng-class="{completed : task.isCompleted}"
			>{{task.name | limitLength:taskNameLength}}</li>
	</ul>
	<div>
		Total Tasks : {{tasks.list.length}}
	</div>
	<div>
		Completed Tasks : {{tasks.getCompletedCount()}}
	</div>
</body>
</html>